* {
	box-sizing: border-box;
}

body {
	background: black;
}

.object	{
	position: absolute;
}


.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	z-index: -2;
}

.canvas-double {
width: 900px;
	height: 556px;
	margin: 100px auto;	
}


.drawing-Tree {
	width: 400px;
	height: 400px;
	bottom: 10px;
	margin-left: 315px;
	position: absolute;
	
}

.triangle {
	width: 0;
	height: 0;
	
	position: absolute;	
}

.brown {
	margin-left: 100px;
}

.triangle.brown:nth-child(1) {
	bottom: 0px;
	border-bottom: 70px solid #963;
	border-right: 70px solid transparent;
}

.triangle.brown:nth-child(2) {
	bottom: 0px;
	border-top: 70px solid #C38240;
	border-left: 70px solid transparent;
}

.triangle.brown:nth-child(3) {
	bottom: 70px;
	border-bottom: 70px solid #963;
	border-left: 70px solid transparent;
}

.triangle.brown:nth-child(4) {
	bottom: 70px;
	border-top: 70px solid #C38240;
	border-right: 70px solid transparent;
}

.triangle.brown:nth-child(5) {
	bottom: 139px;
	border-bottom: 70px solid #963;
	border-right: 70px solid transparent;
}

.triangle.brown:nth-child(6) {
	bottom: 139px;
	border-top: 70px solid #C38240;
	border-left: 70px solid transparent;
}




/*------green-------*/


.triangle.green:nth-child(7) {
	border-top: 50px solid transparent;
	border-left: 100px solid green;
	border-bottom: 50px solid transparent;
	margin: 141px 60px;
}

.triangle.green:nth-child(8) {
	border-top: 50px solid transparent;
	border-right: 100px solid #693;
	border-bottom: 50px solid transparent;
	margin: 117px 110px;
}
	
.triangle.green:nth-child(9) {
	border-top: 50px solid transparent;
	border-right: 100px solid #393;
	border-bottom: 50px solid transparent;
	margin: 69px 12px;
}

.triangle.green:nth-child(10) {
	border-top: 50px solid transparent;
	border-left: 100px solid #6C0;
	border-bottom: 50px solid transparent;
	margin: 70px 110px;
}

.triangle.green:nth-child(11) {
	border-top: 50px solid transparent;
	border-left: 100px solid #693;
	border-bottom: 50px solid transparent;
	margin: 48px -40px;
}

.triangle.green:nth-child(12) {
	border-top: 50px solid transparent;
	border-left: 100px solid #393;
	border-bottom: 50px solid transparent;
	margin: 60px 208px;
}

.triangle.green:nth-child(13) {
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
	margin: 20px 110px;
}

.triangle.green:nth-child(14) {
	border-top: 50px solid transparent;
	border-left: 100px solid #6C0;
	border-bottom: 50px solid transparent;
	margin: 1px 52px;
}

.triangle.green:nth-child(15) {
	border-top: 50px solid transparent;
	border-right: 100px solid #693;
	border-bottom: 50px solid transparent;
	margin: 11px 209px;
}

.triangle.green:nth-child(16) {
	border-top: 50px solid transparent;
	border-right: 100px solid #693;
	border-bottom: 50px solid transparent;
	margin: -35px 80px;
}

.triangle.green:nth-child(17) {
	border-top: 50px solid transparent;
	border-left: 100px solid #6C0;
	border-bottom: 50px solid transparent;
	margin: 112px 0px;
}

.triangle.green:nth-child(18) {
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
	margin: 14px -15px;
}

.triangle.green:nth-child(19) {
	border-top: 50px solid transparent;
	border-right: 100px solid #6C0;
	border-bottom: 50px solid transparent;
	margin: -15px -70px;
}

.triangle.green:nth-child(20) {
	border-top: 50px solid transparent;
	border-left: 100px solid #393;
	border-bottom: 50px solid transparent;
	margin: -40px 0px;
}

.triangle.green:nth-child(21) {
	border-top: 50px solid transparent;
	border-right: 100px solid #6C0;
	border-bottom: 50px solid transparent;
	margin: -17px 150px;
}

.triangle.green:nth-child(22) {
	border-top: 50px solid transparent;
	border-left: 100px solid #393;
	border-bottom: 50px solid transparent;
	margin: -54px 127px;
}



.triangle.green:nth-child(23) {
	border-top: 50px solid transparent;
	border-right: 100px solid green;
	border-bottom: 50px solid transparent;
	margin: -75px 30px;
}



.triangle.blue:nth-child(2) {

	border-style: solid;
border-width: 556px 0 0 450px;
border-color: transparent transparent transparent #09F;
	position: absoulute;
	z-index: -1;
	opacity: 0.3;
}

.triangle.blue:nth-child(3) {

border-style: solid;
border-width: 0 0 556px 452px;
border-color: transparent transparent #39F transparent;
	position: absoulute;
	z-index: -1;
	opacity: 0.3;
	right: 0px;
}

.triangle.blue:nth-child(4) {

	
	border-style: solid;
	border-width: 556px 452px 0 450px;
	border-color: #0CF transparent transparent transparent;
	z-index: -1;
	opacity: 0.3;
}





/*--------Second Canvas---------------*/


			
			/*----------lamp------*/
			
			.level	{
				position: absolute;
				width: 288px;
				height: 556px;
				margin-left: 280px;
					
			}
			
			
			.lamp	{
				position: absolute;
				width: 100px;
				height: 60px;
				margin: 10px 94px 530px 94px;
				z-index: 1;
				
			}
		
			
					.bulb {
						position: absolute;
						height:30px;
						width:45px;
						border-radius: 0px 0px 30px 30px;
						-moz-border-radius: 0px 0px 30px 30px;
						-webkit-border-radius: 0px 0px 30px 30px;
						background:yellow;	
						box-shadow: 0px 0px 30px yellow;
						margin: 30px 27.5px 0px 27.5px;
						
						    -webkit-animation-name: one; /* Chrome, Safari, Opera */
						-webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
						-webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
						animation-name: flux;
						animation-duration: 10s;
						animation-iteration-count: infinite;
						
						
					}
					
					/* Chrome, Safari, Opera */
					@-webkit-keyframes flux {
						0%   {background-color: Yellow; }
					
						50%  {background-color: white; }
						
						100% {background-color: yellow; }	
										
					}
					
					.hood {
						    position: absolute;
							width: 0; 
							height: 0; 
							border-left: 50px solid transparent;
							border-right: 50px solid transparent;
							border-bottom: 40px solid grey;
							margin: 5px 0 0 0;
						
							
					}
					
					
					.body {
						position: absolute;
						width: 35px;
						height: 26px;	
						background-color: grey;
						margin-top: 6px;
						margin-left: 32.5px;
						
						
					}
					
					
					.cap {
						width: 25px;
						height: 16px;
						background: grey;
						-moz-border-radius: 12.5px / 8px;
						-webkit-border-radius: 12.5px / 8px;
						border-radius: 12.5px / 8px;
						margin-top: 0px;
						margin-left: 37.5px;	
					}
					
					
				/*----------lamp------*/
				
				

			
			
			
			/*----------light------*/
			
			.light {
			 	position: absolute;
				width: 0; 
				height: 0; 
				border-left: 194px solid transparent;
				border-right: 194px solid transparent;
				border-bottom: 500px solid #FFF7CE;
				margin: 50px 50px 0px -50px;
				opacity: 0.5;
				
				
				
				
			}
			
									/*----------plums------*/
				
										.group {
											position: absolute;
											width: 240px;
											height: 70px;
											
											margin: 430px 30px 0px -110px;
										}
										
										.mask {
											position: absolute;
											width: 395px;
											height: 400px;
											margin: -500px 20px 0px -90px;
											background: -webkit-linear-gradient(-90deg,black, black, transparent);	
											z-index: -2;
										}
										
												.plum {
													position: absolute;
													float: left;
													z-index: 1;
													
												
												}
													
														
														.first {
															  width: 40px;
															  height: 40px;
															  border-radius: 50%;
															  box-shadow: 25px 15px 0 0 #3F003F;
															  margin: -40px 240px 80px -40px;
															  
															  -webkit-transition: width .5s ease, height .5s ease;
															-moz-transition: width .5s ease, height .5s ease;
															-o-transition: width .5s ease, height .5s ease;
															-ms-transition: width .5s ease, height .5s ease;
															transition: width .5s ease, height .5s ease;
																
														}
														
														
														.first:hover {
															width: 50px;
															height: 50px;
																
														}
														
														
														
														
														.second {
															  width: 35px;
															  height: 35px;
															  border-radius: 50%;
															  background-color: #3F003F;
															  margin: 15px 0px 5px 40px;
															  
															    -webkit-transition: width .5s ease, height .5s ease;
															-moz-transition: width .5s ease, height .5s ease;
															-o-transition: width .5s ease, height .5s ease;
															-ms-transition: width .5s ease, height .5s ease;
															transition: width .5s ease, height .5s ease;
																
														}
														
														.second:hover {
															width: 45px;
															height: 45px;	
														}
														
														
														.third {
															  width: 40px;
															  height: 40px;
															  border-radius: 50%;
															  box-shadow: -25px -15px 0 0 #3F003F;
															  margin: 0px 0px 0px 120px ;
															 
															    -webkit-transition: width .5s ease, height .5s ease;
															-moz-transition: width .5s ease, height .5s ease;
															-o-transition: width .5s ease, height .5s ease;
															-ms-transition: width .5s ease, height .5s ease;
															transition: width .5s ease, height .5s ease;
																
														}
														
														.third:hover {
															width: 50px;
															height: 50px;	
														}
														
														
														.fourth {
															  width: 50px;
															  height: 50px;
															  border-radius: 50%;
															  background-color: #3F003F;
															  margin: 25px 0px 0px 140px;
																
																
																  -webkit-transition: width .5s ease, height .5s ease;
															-moz-transition: width .5s ease, height .5s ease;
															-o-transition: width .5s ease, height .5s ease;
															-ms-transition: width .5s ease, height .5s ease;
															transition: width .5s ease, height .5s ease;
														}
														
														.fourth:hover {
															width:40px;
															height: 40px;	
														}
														
														.fifth {
															  width: 45px;
															  height: 45px;
															  border-radius: 50%;
															  box-shadow: 22px 12px 0 0 #3F003F;
															  margin: 0px 0px 0px 180px ;
															 
															    -webkit-transition: width .5s ease, height .5s ease;
															-moz-transition: width .5s ease, height .5s ease;
															-o-transition: width .5s ease, height .5s ease;
															-ms-transition: width .5s ease, height .5s ease;
															transition: width .5s ease, height .5s ease;
																
														}
														
														.fifth:hover {
															width:40px;
															height: 40px;	
														}
														

		
  
  			/*----------plums------*/
			
			
			
			
			.cover {
			 	position: absolute;
				width: 400px; 
				height: 500px; 
				background: black;
				margin: 20px 0px 0px -200px;
				z-index: 1;
				-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
			}
			
			.cover:hover {
			 	background: none;
				cursor: pointer;
  
				
				
			}
			
			
			
			
			/*----------light------*/
 
 
 
 			.concrete {
				position: absolute;
				width: 1970px;
				height: 20px;
				margin: 680px 0px 0px -50px;
				background-color: grey; 	
			}
			